<template name="passageHighlight">
  <div class="passage">
  <div class="row"> 
    <div class="col-md-10 col-sm-9">
      <h4>{{title}}</h4>
      <div id="passage-content">
      {{{content}}}
      </div>
    </div>

    <div class="col-md-2 col-sm-3" id= "highlight-sidebar">
	  {{prompt}}
	  <p>
      <div id="highlighters">
	<button class="btn btn-cyan btn-block active" id="cyan"> Highlight</button>
	<button id="erase" class="btn btn-erase btn-block"> Erase</button>

      </ul>
    </div>
  </div>
</div>
</template>
