<template name="passageSubmit">

  <form role="form">
    <div class="main col-md-12">
      <div class="row">
	<div class="form-group col-md-2">
	  <label class="form-label" for="message">Prompt</label>
	</div>
	<div class="controls col-md-10">
	  <textarea class="form-control" name="prompt" type="text" value="" placeholder="Instructions regarding what should be highlighted"/>
	</div>
      </div>

      <div class="row">
	<div class="form-group col-md-2">
	  <label class="form-label" for="title">Title</label>
	</div>
	<div class="controls col-md-10">
	  <input class="form-control" name="title" type="text" value="" placeholder="Passage Title"/>
	</div>
      </div>
    
      <div class="row">
	<div class="form-group col-md-2">
	  <label class="form-label" for="message">Passage</label>
	</div>
	<div class="controls col-md-10">
	  <textarea class="form-control" rows="8" name="passage" type="text" value=""/>
	</div>
      </div>

      <div class="row">
	<div class="form-group col-md-2">
	  <input type="submit" value="Submit" class="btn btn-primary"/>
	</div>
      </div>
    </div>
  </form>
</template>
